{{ define "main" }}
<h1 class="project-detail-title">{{ .Title }}</h1>
{{ with .Params.subtitle }}
  <h3 class="project-subtitle">{{ . }}</h2>
{{ end }}
{{ $page := . }}
{{ with .Resources.GetMatch .Params.image }}
  {{ $resized := .Fit "800x600" }}
  <div class="project-image">
    <img src="{{ $resized.RelPermalink }}" alt="{{ $page.Title }} preview" width="{{ $resized.Width }}" height="{{ $resized.Height }}">
  </div>
{{ end }}
<content>
  {{ .Content }}
</content>
{{ with (.GetTerms "tags") }}
<p>
  {{ range . }}
    <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}
{{ if and (not .Params.hideReply) (.Site.Params.author.email) }}
  <p>
    <a href='mailto:{{ .Site.Params.author.email }}?subject={{ i18n "email-subject" }} {{ default .Site.Title .Page.Title }}'>
      {{ i18n "email-reply" }} ↪
    </a>
  </p>
{{ end }}
{{ end }}
